*{
    margin: 0;
    padding: 0;
}

body{
    color: #49111C;
    background-color: #E9DDD4;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#logo{
    margin-left: 30px;
    height: 40px;
}

.header-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
}

.header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 80px;
    list-style: none;
    align-items: center;
}

#profile-pic{
    width: 40px;
    border-radius: 50%;
    margin-right: 30px;
}

.header ul li a{
    margin-right: 30px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    padding-bottom: 5px;
}

.header ul li a:hover{
    border-bottom: 1px solid;
}

.header ul :nth-child(4){
    margin-left: 40px;
}

.Categories_title{
    font-family: sans-serif;
    padding-top: 5%;
    font-size: 150%;
    padding-bottom: 1%;

}

div h3{
    font-style: italic;
}

.container{
    display: flex;
    padding-top: 5%;
    padding: 2% 5% 0 5%;
    justify-content: center;
    flex-grow: 3;
}

.Categories_img {
    padding-right: 10%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120%;
}

.Categories_img img{
    border-radius: 10%;

}

.Categories_img h4{
    padding-top: 5%;
}

.title{
    display: flex;
    flex-direction: column;
}

@media (max-width:1100px){

    .container{

        flex-direction: column;
    }
    .Categories_title, div h3{
        text-align: center;
    }
    .Categories_img img {
        margin-left: 30%;

    }

    .Categories_img h4{
        margin-left: 30%;
        padding-bottom: 2%;
        padding-top: 2%;
    }
        
    
}
