*{
    margin: 0;
    padding: 0;
}

body{
    padding: 2% 5% 0 5%;
    color: crimson;
}


.Categories_title{
    font-family: sans-serif;
}

div h3{
    font-style: italic;
}

.container{
    display: flex;
    padding-top: 5%;
}

.Categories_img {
    padding-right: 23%;
    text-align: center;

}

.Categories_img img{
    border-radius: 10%;
    
}
