*{
    margin: 0;
    padding: 0;
}

body{
    
    color: #49111C;
    background-color: #E9DDD4;
}


.Categories_title{
    font-family: sans-serif;
    padding-top: 5%;
    font-size: 150%;
    padding-bottom: 1%;
    padding-left: 10%;

}

div h3{
    font-style: italic;
    padding-left: 10%;
}

.container{
    display: flex;
    padding-top: 5%;
    padding: 2% 5% 0 5%;
    justify-content: center;
}

.Categories_img {
    padding-right: 10%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120%;
}

.Categories_img img{
    border-radius: 10%;

}

.Categories_img h4{
    padding-top: 5%;
}



@media (max-width:950px){

    .container{

        flex-direction: column;
    }
    .Categories_title, div h3{
        text-align: center;
    }
    .Categories_img img {
        margin-left: 30%;

    }

    .Categories_img h4{
        margin-left: 30%;
        padding-bottom: 2%;
        padding-top: 2%;
    }
        
    
}