*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#logo{
    margin-left: 30px;
    height: 40px;
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: black;
}

.header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 80px;
    list-style: none;
    align-items: center;
}

#profile-pic{
    width: 40px;
    border-radius: 50%;
    margin-right: 30px;
}

.header ul li a{
    margin-right: 30px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    padding-bottom: 5px;
}

.header ul li a:hover{
    border-bottom: 1px solid;
}

.header ul :nth-child(4){
    margin-left: 40px;
}

#photos-container{
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
    margin-left: 50px;
    margin-top: 30px;
}

#photos-container div{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    text-align: left;
    line-height: 20px;
}

#photos-container img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 20px;
}

h1{
    font-size: 2.5em;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom: 2px solid black;
    letter-spacing: -1px;
}

.rating-container{
    margin-top: 3px;
    position: absolute;
}

#rating{
    position: relative;
    padding: 5px;
    background-color: crimson;
    color: white;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
    font-size:12px;
}