*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#logo{
    margin-left: 30px;
    height: 40px;
}

.header-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
}
.header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 80px;
    list-style: none;
    align-items: center;
}

#profile-pic{
    width: 40px;
    border-radius: 50%;
    margin-right: 30px;
}

.header ul li a{
    margin-right: 30px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    padding-bottom: 5px;
}

.header ul li a:hover{
    border-bottom: 1px solid;
}

.header ul :nth-child(4){
    margin-left: 40px;
}

#pp-container{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 50px;
}

#resto-pp{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

h1{
    margin-top: 20px;
    color: black;
    margin-left: 50px;
    font-size: 50px;
    font-family: sans-serif;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

h2{
    margin-top: 30px;
    color: black;
    margin-left: 50px;
    font-size: 30px;
    font-family: sans-serif;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

#photos-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 50px;
    margin-top: 40px;
}

#photos-container div{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

#photos-container img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 20px;
}

#categories, #location{
    margin-left: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: gray;
}

.add-review-btn{
    margin-left: 50px;
    margin-top: 10px;
    padding: 15px 20px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

.add-review-btn:hover{
    cursor: pointer;
    background-color:rgb(255, 0, 51);
}

#reviews-title{
    margin-left: 50px;
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: gray;
}

#text-review{
    margin-top: 30px;
    margin-left: 50px;
    resize: none;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    border-color: crimson;
}

#text-review:focus{
    outline: crimson;
    box-shadow: 0 0 10px crimson;
}

#reviews{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: 50px;
    font-family: sans-serif;
}

#username{
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
}

#review{
    margin-top: 10px;
    inline-size: 250px;
    overflow-wrap: break-word;
}

.rating-container{
    margin-top: 20px;

}

#rating{
    margin-left: 50px;
    padding: 10px;
    background-color: crimson;
    color: white;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size:20px;
}