*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../assets/images/backgrounds/login-signup.jpg);
    background-repeat: no-repeat;
}

.main-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
    margin-right: 15%;
}

.header{
    width:80%;
}

.child-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.child-container img{
    width: 350px;
}

#box{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: auto;
    height: auto;
    padding: 15px;
    gap: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
}

.textbox{
    font-size: 15px;
    padding: 15px;
    width: 250px;
    border-radius: 10px;
    border: none;
    background-color: rgb(233, 233, 233);
}

.textbox:focus{
    outline: none;
}

.textbox:focus::placeholder{
    opacity: 30%;
}

#btn{
    margin-top: 20px;
    /* margin-bottom: 10px; */
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color:crimson;
    cursor: pointer;
}

#btn:hover{
    background-color: rgb(255, 6, 56);
}

#box a{
    align-self: center;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: crimson;
}

#box a:hover{
    text-decoration: underline;
}

@media (max-width: 900px) {
    .main-container{
        justify-content: center;
        margin-right: 0;
    }
}