*{
    /* margin: 0; */
    padding: 0;
}
body{
    background-color: #E9DDD4;
}

.sub_category_img_container{
  margin-left: auto;
  margin-right:auto;
  display: inline-block;
  position: relative;
  color:rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin:0 auto;
}

.sub_category_img_container img{
    margin-top: 5%;
    border-radius: 50px;
}
.front_ground_text,.front_ground_text_1{
    position: absolute;
    bottom: 8px;
    left: 25px;
    font-size: 150%;
}
.front_ground_text_1{
    bottom:10%;
}

.container{
    text-align: center;
    
}

.row{
    display: flex;
    justify-content: center;
    margin-left: 7%;
    margin-top: 2%;
}

.sub_row{
    padding-right: 7%;
}

.sub_row img{
    border-radius: 20px;
}