*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E9DDD4;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#logo{
    margin-left: 30px;
    height: 40px;
}

.header-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
}

.header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 80px;
    list-style: none;
    align-items: center;
}

#profile-pic{
    width: 40px;
    border-radius: 50%;
    margin-right: 30px;
}

.header ul li a{
    margin-right: 30px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    padding-bottom: 5px;
}

.header ul li a:hover{
    border-bottom: 1px solid;
}

.header ul :nth-child(4){
    margin-left: 40px;
}

.box, .box1{
    margin-top: 6%;
    display:flex;
    border: 1px solid black;
    font-size: 150%;
    margin-left: 5%;
    color:white;
    background-color: #49111C;
    border-radius: 20px;
    width:90%;
    
}
.profile_pic{
    height:15%;
    width:25%;
    text-align: center;
    padding-top: 2%;
}
.profile_pic img{
    width:50%;
    border-radius:100px;
}
.profile_name{
    padding-top: 4%;
    font-size: 140%;
    font-weight: 700;
}
.box-container{
    text-align: center;
    padding-top: 4%;
    font-size: 120%;
    margin-left: 5%;
}
.logo_pic img{
    width: 80%; 
    padding-top: 8%;
    padding-left: 10%;
}

.box1{
    color:#49111C;
    background-color: white;
    border:0;
    margin-top: 2%;
    background-color: #E9DDD4;
    

}

.sub{
    padding-bottom: 70%;
    font-size: 120%;
    
}
.sub_row img{
    border-radius: 20px;
}

.sub:hover{
    color:grey;
}

.box2{
    display: flex;
    
}

.sub_row{
    padding-left: 26%;
    text-align: center;
    padding-bottom: 10%;
}

.box3{
    display: flex;
}
